.create-blog-paper {
  padding: 40px 60px 60px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.37);
  margin-top: 20px;
  background-color: rgba(128, 128, 128, 0.288);
  min-height: 650px;
}

.create-blog-paper > .ql-container.ql-snow {
  border: none;
  font-size: 15px;
}

.create-blog {
  position: relative;
  padding: 0 20px;
}

#toolbar {
  position: sticky;
  top: 100px;
  border: none;
  z-index: 5;
  background: #fff;
}

#editor {
  min-height: 650px;
}

@media screen and (max-width: 600px) {
  .create-blog {
    padding: 0;
  }
}
