.login {
  justify-items: center;
}

.login > form {
  width: 350px;
}

.login > form > a {
  margin-bottom: 30px;
}

.login > form > button {
  margin-top: 50px;
  margin-bottom: 20px;
}

.login > form > div > .MuiTextField-root {
  width: 100%;
  margin: 10px 0 10px 0;
}
