.profile {
  margin: 0;
}

.profile-nav {
  text-align: start;
  padding-left: 50px;
  border-bottom: 1px solid grey;
}

.profile-card {
  padding: 0 20%;
  width: auto;
  margin: auto;
  height: fit-content;
}

.profile-name {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.profile-avatar {
  grid-area: avatar;
  width: 140px;
  height: 140px;
  background-image: url("../styles/img/default-avatar.png") !important;
  background-size: cover;
  background-position: center;
}

.profile-avatar > img {
  width: 100%;
}

.profile-member-data {
  font-weight: 600;
  color: #666666;
  font-size: small;
  padding: 20px 10px;
  text-align: start;
  grid-area: data;
  width: 120px;
  height: 200px;
  background: #c9c7c78c;
}

.profile-summary {
  grid-area: summary;
  padding-left: 40px;
  text-align: start;
}

.profile-content {
  margin-top: 50px;
  display: grid;
  gap: 20px;
  grid-template-areas:
    "avatar summary"
    "data summary";
  grid-template-columns: auto 1fr;
}

.profile-summary > h6 {
  margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
  .profile-nav {
    text-align: center;
    padding-left: 0;
    padding: 40px;
  }

  .profile-content {
    grid-template-areas:
      "avatar"
      "data"
      "summary";
    grid-template-columns: auto;
  }

  .profile-avatar {
    justify-self: center;
  }

  .profile-member-data {
    height: 100px;
    width: unset;
  }

  .profile-summary {
    text-align: center;
    padding: 0;
  }

  .profile-card {
    padding: 0 5%;
  }
}
