.App {
  text-align: center;
}

.disable {
  display: none;
}

.MuiButtonBase-root {
  font-weight: bold !important;
  text-transform: none !important;
}

a {
  text-decoration: none;
  color: #1976d2;
}

a:hover {
  text-decoration: underline;
}

main > div {
  margin-top: 100px;
}

main {
  padding: 0 !important;
}

@media screen and (max-width: 600px) {
  main {
    display: contents;
  }
}

#none {
  display: none;
}
